<!DOCTYPE html>
<html>
<head>
    <title>Goom Tree</title>
</head>
<body>
<nav>
    <a href="/my_adverts" >My Adverts</a>

</nav>
<div class="container">
    #parse( $template )
</div>
</body>
</html>